{% extends "base.html" %}
{% block content %}
  
<section id="wrapper">
	<p><strong>Generative Art by Clay Heaton</strong></p> 
</section>

<section id="wrapper">
	<p><strong>Golden - June 2015</strong></p> 
	<p><em>Colors change every hour.</em></p>
	<p><a href="{% static '/pages/golden.html' %}">View in action.</a> | <a href="https://github.com/ccheaton/p5js_sketches/tree/master/golden"> Get the source.</a></p>
	<img src="{% static '/media/golden.png' %}" />
</section>



{% endblock content%}
